<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
    <img 
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %>'s avatar"
    >
  </div>
  <a href="/profiles/watched" class="watch-list">Watched List</a>
  <a href="/profiles/reviews" class="review-list">Reviews</a>
</main>

<%- include('../partials/footer') %>
