<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div class="review-container">
    <% if (!profile.animeReviews.length) { %>
      <h2>No Reviews</h2>
    <% } else {%>
      <% profile.animeReviews.forEach(anime => { %>
        <div class="review">
          <% const review = anime.reviews.find(review => { return review.user.equals(profile._id)}) %>
          <div class="review-top">
            <div class="review-anime-title"><%= anime.title %></div>
            <div class="review=buttons">
              <button>📝</button>
              <button>❌</button>
            </div>
          </div>
          <div class="review-body">            
            <div class="review-headline"><%= review.reviewTitle %></div>
            <p class="review-content"><%= review.content %></p>
            <div class="review-rating"><%= review.rating %></div>
          </div>          
          <div class="username"><%= profile.name %></div>
        </div>
        <hr/>
      <% }) %>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>
