<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/animes/catalog.css">
<link rel="stylesheet" href="/stylesheets/profiles/watched.css">
<%- include('../partials/nav') %>

<main >
  <div class="watched-container">
    <div class="title"><%= title %></div>
    <div>
      <form  class="watched-list-input" action="/profiles/watched" method="POST">
        <select class="custom-select" name="animeId">
          <option disabled selected>Find Anime</option>
          <% animes.forEach(anime => { %>
            <option value="<%=anime._id %>"><%= anime.title %></option>
          <% }) %>
        </select>
        
        <button type="submit"> Add Anime</button>
      </form>
    </div>
    <div class="card-container">
      <% if (!profile.watchedList.length) { %>
        <h2>No Anime</h2>
      <% } else { %>
        <% profile.watchedList.forEach(anime => { %>
          <a class="text-decoration-none" href="/catalog/<%= anime._id %>">
            <div class="card">
              <div class="image-crop">
                <img 
                  src="<%= anime.imageURL %>" 
                  alt="<%= anime.title %>'s cover image"
                  class="anime-image"
                >
              </div>
            <div class="card-body-right">
              <div class="card-details">
                <div class="card-title"><%= anime.title %></div>
                <div class="card-release"><%= anime.releaseYear.getFullYear()%> </div>
              </div>
              <div class="anime-rating">Rating: 
                <% if (anime.rating) { %>
                  <% const average =  Math.round(anime.rating)%>
                  <% for(let i = 0; i < average; i++ ) { %>
                    <i class="fa-solid fa-star star-icon lit"></i>
                  <% } %>
                  <% for(let i = 0; i < 5 - average; i++ ) { %>
                    <i class="fa-solid fa-star star-icon"></i>
                  <% } %>
                <% } else {%>
                  <% for(let i = 0; i < 5; i++ ) { %>
                    <i class="fa-solid fa-star star-icon"></i>
                  <% } %>
                <% } %>
              </div>
            </div>
          </div>
          </a>
          
          <hr/>
        <% }) %>
      <% } %>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>
