<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/animes/catalog.css">
<%- include('../partials/nav') %>

<main>
  <div>
    <div class="header">
      <h1><%= title %></h1>
      <form action="/profiles/watched" method="POST">
        <select name="animeId">
          <% animes.forEach(anime => { %>
            <option value="<%=anime._id %>"><%= anime.title %></option>
          <% }) %>
        </select>
        <button type="submit"> Add Anime</button>
      </form>
    </div>
    <div class="card-container">
      <% if (!profile.watchedList.length) { %>
        <h2>No Anime</h2>
      <% } else { %>
        <% profile.watchedList.forEach(watched => { %>
          <a class="text-decoration-none" href="/catalog/<%= watched._id %>">
            <div class="card">
              <img 
                src="<%= watched.imageURL %>" 
                alt="<%= watched.title %>'s cover image"
                width="100px"
              >
              <div class="card-body">
                <div class="card-body-left">
                  <div class="card-title"><%= watched.title %></div>
                  <div class="card-release"><%= watched.releaseYear.getFullYear()+1%> </div>
                </div>
                <div class="card-body-right">Rating: <%= watched.rating ? watched.rating : "N/A" %></div>
              </div>
            </div>
          </a>
          <hr/>
        <% }) %>
      <% } %>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>
