<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('./partials/nav') %>

<main>
  <div class="index-container">
    <div class="title"><%= title %></div>
    <div class="card-container">
      <% for(let i = 0; i < 10; i++) { %>
        <% if (animes.length <= i) { break; } %>
          <a class="text-decoration-none" href="/catalog/<%= animes[i]._id %>">
          <div class="card">
            <img 
              src="<%= animes[i].imageURL %>" 
              alt="<%= animes[i].title %>'s cover image"
            >
            <div class="card-body">
              <h1 class="card-title"><%= animes[i].title %></h1>
            </div>
          </div>
        </a>
      <% } %>
    </div>
  </div>

  <div class="testarea">
    <form action="/test"a method="POST">      
      <label for="title-input">Title:</label>
      <input type="text" name="title" id="title-input">
      <button class="delete-button">test area</button>
    </form>
  </div>
</main>

<%- include('./partials/footer') %>
