<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <img 
      src="<%= anime.imageURL %>" 
      alt="<%= anime.title %>'s cover image"
      width="75%"
    >
    <div class="title-section">
      <h1 class="card-title"><%= anime.title %></h1>
      <div>Rating: <%= anime.rating %> </div>
    </div>
    <div class="2nd-section">
      <!-- <div>Studio</div> -->
      <div><%= anime.ongoing ? 'Ongoing' : 'Completed' %> </div>
    </div>
    <div class="3rd-section">Released: <%= anime.releaseYear.getFullYear()+1%> </div>
    <div class="4nd-section">Genre: <%= anime.genre %></div>
    
    <!-- insert cast -->

    <h1 class="review-title">Reviews</h1>
    <% if (user) { %>
    <button>Add Review</button>
    <% } %>

    <div class="review-container"> 
      <% if (!anime.reviews.length) { %>
        <h2>No Reviews</h2>
      <% } else { %>
        <% anime.reviews.forEach(review => { %>
          <div class="review">
            <div class="review-headline"><% review.reviewTitle %></div>
            <div class="review-body">
              <p class="review-text"><% review.content %></p>
              <div class="review-rating"><% review.rating %></div>
            </div>          
            <div class="username"><% review.user %></div>
          </div>
        <% }) %>
      <% } %>
    </div>
</main>

<%- include('../partials/footer') %>