<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/animes/show.css">
<%- include('../partials/nav') %>

<main> 
  <div class="show-content">
    <div class="image-crop">
    <img 
      src="<%= anime.imageURL %>" 
      alt="<%= anime.title %>'s cover image"
      class="anime-image"
    ></div>
    <div class="anime-info">
      <div class="title-section">
        <div class="anime-title"><%= anime.title %></div>
        <div class="anime-rating">Rating: 
          <% if (anime.rating) { %>
            <% const average =  Math.round(anime.rating)%>
            <% for(let i = 0; i < average; i++ ) { %>
              <i class="fa-solid fa-star star-icon lit"></i>
            <% } %>
            <% for(let i = 0; i < 5 - average; i++ ) { %>
              <i class="fa-solid fa-star star-icon"></i>
            <% } %>
          <% } else {%>
            <% for(let i = 0; i < 5; i++ ) { %>
              <i class="fa-solid fa-star star-icon"></i>
            <% } %>
          <% } %>
        </div>
      </div>
      <div class="section2">
        <div>Studio: <%= anime.studio %></div>
        <div><%= anime.ongoing %> </div>
      </div>
      <div class="section3">Released: <%= anime.releaseYear.getFullYear()%> </div>
      <div class="section4">
        <div>Genre: <%= anime.genres %></div> 
        <div class="admin-buttons">
          <% if (user?.profile.role >500) { %>
            <button popovertarget="admin-edit-popup" class="admin-button">📝</button>
            <div popover="auto" id="admin-edit-popup">
              <form 
                id="edit-review-form"
                action="<%= anime._id %>?_method=PUT"
                method="POST"
              >
                <div class="edit-title">Edit Anime</div>
                <div class="edit-inputs"> 
                  <!-- title -->
                  <div class="edit-input">
                    <label for="title-input">Title:</label>
                    <input type="text" name="title" value="<%= anime.title %>" id="title-input">
                  </div>
                  <!-- releaseYear -->
                  <div class="edit-input">
                    <label for="release-year-input">Release Year:</label>
                    <input type="text" name="releaseYear" value="<%= anime.releaseYear.getFullYear() %>" id="release-year-input">
                  </div>
                  <!-- image url -->
                  <div class="edit-input">
                    <label for="url-input">Image URL:</label>
                    <input type="text" name="imageURL" value="<%= anime.imageURL %>" id="url-input">
                  </div>
                  <!-- ongoing -->
                  <div class="edit-input">
                    <label for="ongoing-input">Ongoing:</label>
                    <input type="text" name="ongoing" id="ongoing-input" value="<%= anime.ongoing %>">
                  </div>
                  <!-- genre -->
                  <div class="edit-input">
                    <label for="genre-input">Genre:</label>
                    <input type="text" name="genres" id="genre-input" value="<%= anime.genres %>">
                  </div>
                </div>
                <div class="bottom-row">
                  <button type="submit">Update</button>
                </div>
              </form>
            </div>
            <!-- admin delete -->
            <form action="<%= anime._id %>/?_method=DELETE" method="POST">
              <button class="admin-button">🗑️</button>
            </form>
          <% } %>
        </div>
      </div>
      <p><%= anime.synopsis %></p>
    </div>
    <!-- insert cast -->

    <!-- reviews -->
    <div class="review-header">
      <div class="review-title">Reviews</div>
      <!-- add reviews -->
      <% if (user) { %>
        <button popovertarget="review-popup" class="review-button">Add Review</button>
        <div popover="auto" id="review-popup">
          <form 
            id="add-review-form"
            action="<%= anime._id %>/reviews"
            method="POST"
          >
            <div>Add Review: <%= anime.title %></div>
            <div class="add-review-inputs">
              <input type="text" name="reviewTitle" placeholder="Headline" class="headline-input">
              <input type="number" name="rating" class="rating-input" min="1" max="5" placeholder="Rate Me (1-5)">
            </div>
            <textarea name="content" placeholder="Write review here" id="content-textarea"></textarea>
            <div class="bottom-row">
              <button type="submit"> Submit</button>
            </div>
          </form>
        </div>
      <% } %>
    </div>
    <!-- display reviews -->
    <div class="review-container"> 
      <% if (!anime.reviews.length) { %>
        <div class="review">No Reviews</div>
      <% } else { %>
        <% anime.reviews.forEach(review => { %>
          <div class="review">
            <div class="review-topline">
              <div class="review-headline"><%= review.reviewTitle%></div>
              <div class="review-rating"> Rating: 
                <% for(let i = 0; i < review.rating ; i++ ) { %>
                  <i class="fa-solid fa-star star-icon lit"></i>
                <% } %>
                <% for(let i = 0; i < 5-review.rating ; i++ ) { %>
                  <i class="fa-solid fa-star star-icon"></i>
                <% } %>
              </div>
            </div>            
            <div class="review-content"><%= review.content %></div>   
            
            <div class="user-controls">
              <div class="alter-buttons">
                <% if (review.user.equals(user?.profile._id)) { %>
                  <button popovertarget="edit-popup" class="edit-button">📝</button>
                  <div popover="auto" id="edit-popup">
                    <form 
                      id="edit-review-form"
                      action="<%= anime._id %>/reviews/<%= review._id %>?_method=PUT"
                      method="POST"
                    >
                      <div>Edit Review: <%= anime.title %></div>
                      <div class="add-review-inputs"> 
                        <input type="text" name="reviewTitle" value="<%= review.reviewTitle %>" class="headline-input">
                        <input type="number" name="rating" value="<%= review.rating %>" class="rating-input" min="1" max="5">
                      </div>
                      <textarea name="content" id="content-textarea"><%= review.content%></textarea>
                      <div class="bottom-row">
                        <button type="submit">Update</button>
                      </div>
                    </form>
                  </div>
                  <form action="<%= anime._id %>/reviews/<%= review._id %>/?_method=DELETE" method="POST">
                    <button class="delete-button">🗑️</button>
                  </form>
                <% } %>
              </div>
              <div class="user-info">
                <div class="username"><%= review.user.name %></div>
                <img class="avatar" src="<%= review.user.avatar %>" alt="<%= review.user.name %>'s profile picture">        
              </div>
            </div>
          </div>
          <hr />
        <% }) %>
      <% } %>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>