<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/animes/show.css">
<%- include('../partials/nav') %>

<main>
  <div class="show-content">
    <img 
      src="<%= anime.imageURL %>" 
      alt="<%= anime.title %>'s cover image"
      class="anime-image"
    >
    <div class="title-section">
      <div class="anime-title"><%= anime.title %></div>
      <div class="anime-rating">Rating: <%= anime.rating %> </div>
    </div>
    <div class="section2">
      <!-- <div>Studio</div> -->
      <div><%= anime.ongoing ? 'Ongoing' : 'Completed' %> </div>
    </div>
    <div class="section3">Released: <%= anime.releaseYear.getFullYear()+1%> </div>
    <div class="section4">Genre: <%= anime.genre %></div>
    
    <!-- insert cast -->

    <!-- reviews -->
    <div class="review-header">
      <div class="review-title">Reviews</div>
      <!-- add reviews -->
      <% if (user) { %>
        <button popovertarget="review-popup" class="review-button">Add Review</button>
        <div popover="auto" id="review-popup">
          <form 
            id="add-review-form"
            action="<%= anime._id %>/reviews"
            method="POST"
          >
            <div>Add Review: <%= anime.title %></div>
            <div class="add-review-inputs">
              <input type="text" name="reviewTitle" placeholder="Headline" class="headline-input">
              <input type="number" name="rating" placeholder="Rating" class="rating-input">
            </div>
            <textarea name="content" placeholder="Write review here" id="content-textarea"></textarea>
            <div class="bottom-row">
              <button type="submit"> Submit</button>
            </div>
          </form>
        </div>
      <% } %>
    </div>
    <!-- display reviews -->
    <div class="review-container"> 
      <% if (!anime.reviews.length) { %>
        <h2>No Reviews</h2>
      <% } else { %>
        <% anime.reviews.forEach(review => { %>
          <div class="review">
            <div class="review-topline">
              <div class="review-headline"><%= review.reviewTitle%></div>
              <div class="review-rating"> Rating: <%= review.rating %></div>
            </div>
            <p class="review-text"><%= review.content %></p>
            
            <div class="user">
              <div class="alter-buttons">
                <% if (review.user.equals(user?.profile._id)) { %>
                  <button popovertarget="edit-popup" class="edit-button">📝</button>
                  <div popover="auto" id="edit-popup">
                    <form 
                      id="edit-review-form"
                      action="<%= anime._id %>/reviews/<%= review._id %>?_method=PUT"
                      method="POST"
                    >
                      <div>Edit Review: <%= anime.title %></div>
                      <div class="add-review-inputs"> 
                        <input type="text" name="reviewTitle" value="<%= review.reviewTitle %>" class="headline-input">
                        <input type="number" name="rating" value="<%= review.rating %>" class="rating-input">
                      </div>
                      <textarea name="content" id="content-textarea"><%= review.content%></textarea>
                      <div class="bottom-row">
                        <button type="submit">Update</button>
                      </div>
                    </form>
                  </div>
                  <form action="<%= anime._id %>/reviews/<%= review._id %>/?_method=DELETE" method="POST">
                    <button class="delete-button">🗑️</button>
                  </form>
                <% } %>
              </div>
              <div class="user-info">
                <div class="username"><%= review.user.name %></div>
                <img class="avatar" src="<%= review.user.avatar %>" alt="<%= review.user.name %>'s profile picture">        
              </div>
            </div>
          </div>
          <hr />
        <% }) %>
      <% } %>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>